{% extends 'page_layout.html' %}
{% block body_content %}
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-12">  
            <h2>ABOUT US</h2>
            <p>We are an Indian web design and software business with more than 10years of experience in web design,
                graphic design,programming and database development.</p><br>
            <p>Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content.</p>
            <br><br><br>
            <center><h1>THANK YOU!!!</h1></center>
        </div>


{% endblock %}